.App {
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

#navBar {
  display: flex;
  width: 900px;
  margin: 0 auto;
}

#navBar a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.header{
  display:flex;
  justify-content: space-around;
  margin: 0 0 8px 0;
  padding: 8px 0;
  background-color: rgba(0, 0, 0, 0.27);
}

.headerSpace{
  width:20%
}

.searchBar{
  border-radius: 35px;
}

a{
  position: relative;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  margin: 0 5px;
}

.NavLinks{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#cc0000;
  border:1px solid white;
  border-radius:5px;
  color:#fff;
  width:300px;
  margin: 2px;
 }


.NavLinks:active{
  background-color:rgba(221, 144, 81, 0.99);
  height: -5px;
  margin-top: -5px;
  margin-left: -1px;
}
.NavLink:focus{
  background-color:rgba(221, 144, 81, 0.99);
}
.NavLinks:hover{
  background-color:rgba(221, 144, 81, 0.99);
}

.project-container {
  margin: 0 auto;
  width: 800px;
}

#project {
  background-color: darkblue;
  text-align: left;
  color: white;
  padding: 0.5em;
  margin-bottom: 0.5em;
}

.blurb-team-contacts a {
color: black;
}

.home-contact a {
  color: black;
}
.home-contact{
  display: inline-flex;
  border: solid black 1px;
}
.official-info{
  border: solid black 1px;
}
.official-info a{
  color: black;
}
.officials-container{
  display: flex;
  justify-content: center;
}

