.App {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  background-color: lightgray;
}

.App-container {
  background-color: black;
  width: 950px;
  margin: 0 auto;
  color: whitesmoke;
  min-height: 100vh;
  height: 100%;
}

#navBar {
  display: flex;
  width: 900px;
  margin: 0 auto;
  padding-top: 5em;
  justify-content: center;
  align-items: center;
}

#navBar a {
  width: 300px;
  color: black;
  font-size: 14px;
  text-decoration: none;
  background-color: whitesmoke;
  border-radius: 5px;
  height: 5em;
  margin: 2px;
}

#navBar a:hover {
  background-color:rgba(221, 144, 81, 0.99);
}

.header {
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  margin: 0 0 8px 0;
  padding: 8px 0;
  background-color: whitesmoke;
  width: 100%;
}

.headerSpace {
  width: 20%;
}

.searchBar {
  border-radius: 35px;
}

a {
  position: relative;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  margin: 0 5px;
}

.NavLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin: 2px;
}


.NavLinks:active {
  background-color:rgba(221, 144, 81, 0.99);
  height: -5px;
  margin-top: -5px;
  margin-left: -1px;
}

.NavLink:focus {
  background-color:rgba(221, 144, 81, 0.99);
}

.NavLinks:hover {
  background-color:rgba(221, 144, 81, 0.99);
}

.project-container {
  margin: 0 auto;
  width: 800px;
}

#project {
  background-color: darkblue;
  text-align: left;
  color: white;
  padding: 0.5em;
  margin-bottom: 0.5em;
}
.blurb-team-contacts a {
  color: black;
}


